.btn {
  display: inline-flex;
  padding: 20px 20px;

  color: $color-default-white;
  font-family: $ff-placeholder;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;

  background-color: $color-navy-blue;
  border: 1px solid $color-transparent;
  cursor: pointer;

  transition: background-color $trans-default,
    border $trans-default;

  &--round {
    background-color: $color-transparent;
  }

  &:disabled {
    background-color: $color-default-disabled;
    pointer-events: none;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-resolution-blue;
  }
}
