.feedback-card {
  max-width: 700px;
  display: flex;
  gap: 30px;
  padding: 17px 41px 20px 20px;
  background-color: $color-default-white;
  box-shadow: 0px 0px 20px 0px rgba($color-resolution-blue, 0.10);

  @include vp-1199 {
    max-width: 557px;
    padding: 20px 30px 20px 10px;
  }

  @include vp-767 {
    max-width: 320px;
    padding: 20px 10px;
    flex-direction: column;
    gap: 16px;
  }
}

.feedback-card img {
  max-width: 280px;
}

.feedback-card__text-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 12px;

  @include vp-1199 {
    gap: 24px;
  }

  @include vp-767 {
    gap: 14px;
  }
}

.feedback-card__description-wrapper {
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include vp-1199 {
    gap: 7px;
  }

  @include vp-767 {}
}

.feedback-card__description-wrapper p {
  margin-top: -2px;
  font-size: 14px;
  line-height: 22px;

  @include vp-1199 {
    margin-top: 3px;
    font-size: 12px;
    line-height: 18px;
  }

  @include vp-767 {
    max-width: 270px;
  }
}

.feedback-card__user-name {
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;

  @include vp-1199 {
    margin-bottom: 6px;

  }

  @include vp-767 {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 12px;
  }
}

.feedback-card__user-info {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;

  @include vp-1199 {
    line-height: 12px;
  }

  @include vp-767 {}
}

.feedback-card__altay {
  display: none;

  @include vp-1199 {
    display: block;
  }

  @include vp-767 {}
}

