.footer {
  padding: 40px 0 28px;

  @include vp-1199 {
    padding: 32px 0 16px;
  }

  @include vp-767 {
    padding: 23px 0 16px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;

  @include vp-1199 {}

  @include vp-767 {
    // gap: 23px;
  }
}

.footer__top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 31px;


  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 19px;
  }
}

.footer__logo-link {
  display: flex;
  align-items: center;
  margin-left: -21px;
  margin-right: 86px;

  @include vp-1199 {
    margin-left: 0;
    margin-right: 38px;
  }

  @include vp-767 {
    margin-right: 0px;
    margin-bottom: 17px;
  }
}

.footer__logo {
  width: 243px;
  height: 42px;


  @include vp-1199 {
    width: 142px;
    height: 42px;
  }

  @include vp-767 {
    width: 156px;
    height: 42px;
  }
}

.footer__nav {
  margin-top: 2px;

  @include vp-1199 {}

  @include vp-767 {}
}

.footer__tel {
  margin: 4px 0 0 auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @include vp-1199 {
    display: none;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-default-white-transparent;
  }
}

.footer__social-container {
  margin-bottom: 16px;

  @include vp-1199 {
    margin-bottom: 27px;
  }

  @include vp-767 {
    margin-bottom: 17px;
  }
}

.footer__link-container {
  text-align: center;

  @include vp-1199 {}

  @include vp-767 {}
}

.footer__link {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;

  @include vp-1199 {}

  @include vp-767 {}

  @include hover {
    color: rgb($color-default-black, 0.5);
  }
}
