.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;

  @include vp-1439 {
    flex-direction: column;
    align-items: center;
    gap: 11px;
  }

  @include vp-767 {
    gap: 8px;
  }
}

.form__input {
  width: 360px;
  padding: 19px 30px;
  border: 1px solid rgb($color-navy-blue, 0.1);
  border-radius: 2px;

  @include vp-1439 {
    width: 271px;
    padding: 17px 14px 15px;
    border-radius: 0;
  }

  @include vp-767 {
    width: 290px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 16px;
    opacity: 0.5;
  }
}

.form__button {
  width: 180px;
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 6px;

  @include vp-1439 {
    width: 271px;
  }

  @include vp-767 {
    width: 290px;
    padding: 20px;
  }
}

@include vp-1439 {}

@include vp-767 {}
