.hero__container {
  padding: 0;

  @include vp-1439 {}

  @include vp-767 {}
}

.hero__subsection {
  position: relative;

  @include vp-1439 {
    text-align: center;
  }

  @include vp-767 {}
}

.hero__subsection img {
  @include vp-1439 {
    margin: 0 auto;
  }

}

.hero__subsection-text-block {
  position: absolute;
  top: 25%;
  padding-left: 120px;

  @include vp-1439 {
    padding: 0;
    left: 0;
    right: 0;
    top: calc(21% - 3px);
  }

  @include vp-767 {
    top: calc(25% - 2px);
  }

  h2 {
    position: relative;
    z-index: 2;
    max-width: 944px;
    margin-bottom: 23px;
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    color: $color-default-white;

    @include vp-1439 {
      max-width: 675px;
      margin: 0 auto;
      margin-bottom: 13px;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
    }

    @include vp-767 {
      margin-bottom: 15px;
      max-width: 332px;
      font-size: 26px;
      line-height: 26px;
    }
  }

  p {
    max-width: 470px;
    margin-bottom: 37px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: $color-default-white;

    @include vp-1439 {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 27px;
      text-align: center;
    }

    @include vp-767 {
      max-width: 320px;
      margin-bottom: 60px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.hero__subsection-btn {
  padding: 19px 33px;

  @include vp-1439 {
    margin-bottom: 45px;
  }

  @include vp-767 {}
}

//slider
.hero__slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: $color-transparent;
  opacity: 1;
  border: 1px solid $color-default-white;
  border-radius: 50%;

  @include vp-1439 {}

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.hero__slider .swiper-pagination-bullet-active {
  background-color: $color-default-white;
  width: 10px;
  height: 10px;

  @include vp-1439 {}

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.hero__slider .swiper-pagination {
  display: flex;
  gap: 12px;
  bottom: 97px;
  left: 1246px;

  @include vp-1439 {
    bottom: 34px;
    bottom: 40px;
    left: 0;
    justify-content: center;
  }

  @include vp-767 {
    bottom: 40px;
  }
}
