.hero-kamchatka img {
  @include vp-767 {
    width: 100%;
    min-width: 320px;
    max-width: 360px;
    height: 568px;
    object-fit: cover;
  }
}

.hero-kamchatka__mosaic-wrapper {
  position: absolute;
  z-index: 1;
  top: -13px;
  right: calc(-15% + 6px);

  @include vp-1199 {
    position: relative;
    max-width: 442px;
    right: -25%;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-kamchatka__lower-photo {
  @include vp-1199 {
    position: absolute;
    left: 0;
  }
}

.hero-kamchatka__upper-photo {
  position: absolute;
  top: 23%;
  right: -33%;

  @include vp-1199 {
    right: 0;
  }
}
