.nav-list {
  display: flex;
  gap: 31px;
  align-items: center;
  padding-left: 30px;
}

.nav-list__link {
  font-size: 16px;
  line-height: 16px;
  color: $color-default-white;
  text-decoration: none;
}
