.tours {
  position: relative;
  padding: 100px 0 110px;

  @include vp-1199 {
    padding: 45px 0 55px;
  }

  @include vp-767 {
    padding: 31px 0 30px;
  }
}

.tours__background-wrapper {
  z-index: -5;
  position: absolute;
  top: 0;
  right: 0;

  @include vp-767 {
    top: 110px;
  }
}

.tours__container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-1199 {
    gap: 2px;
  }

  @include vp-767 {
    gap: 4px;
  }
}

.tours__title-wrapper {
  padding-top: 23px;
  padding-bottom: 20px;
  overflow: hidden;
}

.tours__title {
  position: relative;
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;

  @include vp-1199 {
    font-size: 35px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.tours__title-decoration {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  opacity: 0.03;
  white-space: nowrap;

  @include vp-767 {
    top: -28px;
  }
}

.tours__slider-wrapper {
  position: relative;
}

.tours__slider {
  @include vp-1199 {
    max-width: 934px;
  }

  @include vp-1023 {
    max-width: 678px;
  }

  @include vp-767 {
    max-width: 320px;
  }
}

.tours__link {
  margin-top: 33px;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  @include vp-1199 {
    gap: 14px;
  }

  @include vp-767 {
    margin-top: 31px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: $color-navy-blue;

    svg {
      color: rgb($color-navy-blue, 0.1);
    }
  }
}

.tours__slider-button-container {
  position: absolute;
  top: -88px;
  right: 0;
  display: flex;
  gap: 4px;

  @include vp-1199 {
    top: -61px;
  }
}

.tours__slider-button {
  padding: 13px 10px;

  @include vp-1199 {
    padding: 13px 11px 12px 10px;
  }
}
