.tour-details {
  display: flex;
  gap: 10px;
  margin-top: 134px;
  color: $color-default-white;

  @include vp-1199 {
    display: none;
  }

  @include vp-767 {}
}

.tour-details__item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 13px 19px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid $color-default-white-transparent;
}
